<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RideJoy</title>
</head>
<body>
  <h1>All Rides</h1>
  <div class="allRides">
    <p>
      Name: <%= currentUser.firstName %><br>
      Email: <%= currentUser.email %><br>
      Requesting: <%= ride.Requesting %><br>
      From: <%= ride.From %><br>
      To: <%= ride.To %><br>
      Date: <%= ride.Date %><br>
      Time: <%= ride.Time %><br>
      Mobile: <%= ride.Mobile %><br>
      Number of Seats: <%= ride.Seats %><br>
      Non-Smoke Car: <%= ride.NonSmokeCar %><br>
      Notes: <%= ride.Notes %><br>
    </p>
</div>
</body>
</html>
